---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ImagesSection from "../components/ImagesSection.astro"
---

<Layout title="My team app">
	<Header/>
	<main class="w-full mx-auto"> 
		<ImagesSection/>
	</main>
	<p class="w-full text-center mb-20 text-[#B9BDCF] font-bold">created by Alex Rodriguez - devChallenges.io</p>
</Layout>

