<header
  class="w-full pl-3 max-w-6xl flex flex-col lg:flex-row lg:w-11/12 lg:pl-0 lg:mx-auto lg:justify-around"
>
  <h1 class="mt-16 text-4xl font-extrabold sm:text-center lg:text-left lg:mt-20 lg:w-1/2">
    The creative crew
  </h1>

  <section class="flex flex-col lg:w-1/2 lg:gap-3">
    <h2
      class="text-lg mt-10 font-bold uppercase md:text-xl lg:mt-20 lg:text-xl lg:leading-3"
    >
      Who we are
    </h2>
    <p class="mt-2 text-sm font-normal leading-6 md:text-xl lg:w-4/5">
      We are team of creatively diverse. driven. innovative individuals working
      in various locations from the world.
    </p>
  </section>
</header>

<style>
  h1 {
    font-family: "PT Serif", serif;
  }
</style>
