---
import Card from "./Card.astro";
---

<section
  class="pl-3 mb-20 w-full mx-auto max-w-5xl mt-20 grid grid-cols-2 md:pl-0 lg:grid-cols-3"
>
  <Card
    img="/assets/photo1.png"
    name="Bill Mahoney"
    Profession="Product owner"
  />
  <Card
    img="/assets/photo2.png"
    name="Saba Cabrera"
    Profession="Art director"
  />
  <Card
    img="/assets/photo3.png"
    name="Shae Le"
    Profession="Tech Lead"
  />

  <Card
    img="/assets/photo4.png"
    name="Skylah Lu"
    Profession="UX Designer"
  />
  <Card
    img="/assets/photo5.png"
    name="Griff Richards"
    Profession="Developer"
  />

  <Card
    img="/assets/photo6.png"
    name="Stan John"
    Profession="Developer"
    
  />
</section>


